body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: red;
    font-size: 4rem;
    font-weight: 600;
    padding: 0 10rem;
}

select {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
}

header a {
    text-decoration: none;
    padding: 10px;
    font-size: large;
    font-weight: 500;
    color: white;
    border: 1px solid;
    margin: 0 10rem 0 0;
    padding: 20px 30px;
    background-color: red;
}

.hero {
    display: block;
    text-align: center;
}

.hero h2 {
    font-size: 5rem;
    color: white;
    font-weight: 600;
}

.hero p {
    font-size: 3rem;
    color: white;
}

button {
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background-color: red;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(205, 7, 7);
}

.main h2 {
    font-size: 4rem;
    color: white;
    text-align: center;
}

.collection {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

}

img {
    max-width: 300px;
}