body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
}

.background-image {
    background-image: url(/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: red;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0 10rem;
}

select {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 15px 45px;
    font-size: 1.2rem;
    font-weight: 600;
}

header a {
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    margin: 0 10rem 0 1rem;
    padding: 15px 20px;
    background-color: red;
    border-radius: 5px;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-height: 90vh;

}

.hero h2  {
    font-size: 5rem;
    color: white;
    font-weight: 600;
}

.hero h3 {
    font-size: 1.9rem;
    color: white;
    margin-top: -2rem;
}

.hero p {
    font-size: 1.4rem;
    color: white;
}

#login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

input {
    width: 100%;
    max-width: 500px;
    padding:  20px 40px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

button {
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: rgb(205, 7, 7);
}

.main h2 {
    font-size: 4rem;
    color: white;
    text-align: center;
}

.collection {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;

}

img {
    max-width: 300px;
}